---
layout: index
permalink: /tags/
title: Tags
description: "An archive of posts sorted by tags."
---

{% for tag in site.tags %}
    <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
    {% assign pages_list = tag[1] %}
    <ul class="post">
        {% for post in pages_list %}
          <li>
            <time class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </time>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
    </ul>
    <br />
{% endfor %}
