---
layout: default
---
<article>
    <header>
      <h1 class="entry-title">
          <a class="pjax" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" rel="bookmark">{{ page.title }}</a></h1>
    </header>

    <div class="entry-content">
        {{ content }}
    </div><!-- /.entry-content -->
    <br />
    <div><b>本文档采用<a href="http://mit-license.org/">MIT许可证</a>，原文出处：<a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.url | prepend: site.baseurl | prepend: site.url }}</a></b></div>
    <br />
</article>
